Babel==2.9.1
Flask==2.2.4
Flask-Babel==2.0.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
email-validator
jinja2>=2.11.3
flask-login==0.6.2
psycopg2-binary==2.9.5
Mako==1.1.6
MarkupSafe>=0.9.2
python-dotenv==0.15.0
flask-marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0
flask-dance==6.2.0
sqlalchemy-utils
flask-restful
Flask-GraphQL
aniso8601==7.0.0
graphene==2.1.8
graphene-sqlalchemy==2.3.0
Flask-JWT-Extended==4.4.4
factory-boy
gunicorn
