{% extends "base.html" %}

{% block content %}

    <div class="text-center mb-5">
        <img src="{{ url_for("static", filename="img/cookiecutter.png") }}" class="rounded" alt="cookiecutter-flask">
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <form class="form-signin" method="POST" role="form">
              {{form.hidden_tag()}}
              <!--<img class="img" id="bootstrap" src="{{ url_for("static", filename="img/bootstrap.svg") }}" alt width="75" height="75">-->
              <h4>Basic authentification</h4>

              <div class="form-group  materail_input_block">
                <div class="col-md-12">
              	    <label for="username" class="sr-only"></label>
                    <input type="text" name="username" id="username" class="form-control materail_input text-center" placeholder="{{ _('Username') }}" required>
                    {% for error in form.username.errors %}
                        <span style="color: #f77175;">{{ error }}</span>
                    {% endfor %}
                </div>
              </div>

              <div class="form-group  materail_input_block">
                <div class="col-md-12">
              	    <label for="password" class="sr-only"></label>
                    <input type="password" name="password" id="password" class="form-control materail_input text-center" placeholder="{{ _('Password') }}" required>
                    {% for error in form.password.errors %}
                        <span style="color: #f77175;">{{ error }}</span>
                    {% endfor %}
                </div>
              </div>
		
	      <div class="checkbox mt-3 mb-2">
                <label>
                    <!--<input type="checkbox" value="remember-me"> Remember me-->
                  <a href="{{ url_for('auth.reset_password') }}" class="">{{ _('Forgot your password ?') }}</a>
                </label>
              </div>

              <button class="btn btn-primary rounded-pill" type="submit">{{ _('Sign in') }}</button>

              <div class="checkbox mt-3">
                <label>
                    <a href="{{ url_for('auth.register') }}" class="">{{ _('Create account') }}</a>
                </label>
              </div>

            </form>
        </div>

        <div class="col-4">
            <h4 class="mt-3">Social authentification</h4>
            <div class="btn-group-vertical">
                <a href="{{ url_for('facebook.login') }}" class="btn btn-outline-primary rounded-pill mt-3 mb-2"><i class="fa fa-facebook-f"></i></a>
                <a href="{{ url_for('google.login') }}" class="btn btn-outline-danger rounded-pill mt-3 mb-2"><i class="fa fa-google"></i></a>
                <a href="{{ url_for('twitter.login') }}" class="btn btn-outline-warning rounded-pill mt-3 mb-2"><i class="fa fa-twitter"></i></a>
            </div>
        </div>

    </div>


{% endblock %}
