{% extends "base.html" %}

{% block content %}

    <form class="form-signin" method="POST" role="form">
      {{form.hidden_tag()}}
      <h1 class="h3 mb-3 font-weight-normal">{{ _('Register you') }}</h1>

      <label for="password" class="sr-only"></label>
      <input type="password" name="password" id="password" class="form-control" placeholder="{{ _('Password') }}" required>
        {% for error in form.password.errors %}
          <span style="color: #f77175;">{{ error }}</span>
        {% endfor %}

      <label for="password2" class="sr-only"></label>
      <input type="password" name="password2" id="password2" class="form-control" placeholder="{{ _('Retype password') }}" required>
         {% for error in form.password2.errors %}
           <span style="color: #f77175;">{{ error }}</span>
         {% endfor %}

         <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">{{ _('Register') }}</button>
    </form>

{% endblock %}
