{% extends "base.html" %}

{% block content %}

    <form class="form-signin" method="POST" role="form">
      {{form.hidden_tag()}}
      <h1 class="h3 mb-3 font-weight-normal">{{ _('Reset password') }}</h1>

      <div class="form-group  materail_input_block">
        <div class="col-md-12">
            <label for="email" class="sr-only"></label>
            <input type="email" name="email" id="email" class="form-control materail_input" placeholder="{{ _('Email') }}" required>
            {% for error in form.email.errors %}
                <span style="color: #f77175;">{{ error }}</span>
            {% endfor %}
        </div>
      </div>

      <button class="btn btn-primary rounded-pill" type="submit">{{ _('Send') }}</button>
    </form>

{% endblock %}
